:root {
  --red: #E50914;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}
body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) ,rgba(0, 0, 0, 0.4)) ,url(./background.jpg);
}
.header{
  margin: 20px 60px;
}
.header h2{
  color: var(--red);
  font-size: 50px;
  font-weight: 700;
}
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
}
form{
  background: rgba(0, 0, 0, 0.8);
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 70%;
  max-width: 350px;
  margin-bottom: 50px;

}
form h2{
  margin-bottom: 30px;
  font-size: 28px;
  color: #fff;
}
form input{
  background: #333333;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 16px;

  border-radius: 3px;
}
form button{
  background: var(--red);
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  color: #fff;
}
.remember-me{
  margin-top: 15px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.remember-me input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  accent-color: #737373;

}

.remember-me label{
  font-size: 12px;
  color: #b3b3b3;
}
.remember-me a{
  color: #b3b3b3;
  text-decoration: none;
  font-size: 14px;
}
.remember-me a:hover{
  text-decoration: underline;
  
}
.sign-up{
    margin-bottom: 10px;
}
.sign-up p{
  display: inline;
  color: #9d9c9c;

}
.sign-up a{
  text-decoration: none;
  color: #fff;
}
.sign-up a:hover{
  text-decoration: underline;
}
.final{
  margin-bottom: 100px;
}
.final-text{
  font-size: 13px;
  color: #b3b3b3;
  display: inline;

}
.final a{
  color:#0071Eb;
}
@media screen and (max-width:600px){
  body{
    background: #000;
   
  }
    .header {
      margin: 10px;
      
    }
.header h2 {
  
  font-size: 24px;
  margin-bottom: 20px;
  
}
.form-container {
  
  margin-top: 0;

}
form {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 50px;

}
form input {
  padding: 15px;
  
  font-size: 14px;
}

.remember-me {
  margin-top: 15px;
  margin-bottom: 10px;
  
}

}